/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  /* color: rgb(115 130 175 / 95%); */
  color: rgb(255 255 255 / 50%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  /* font-family: ui-monospace, monospace; */
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
  font-weight: bold;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(17 17 27 / 5%);
  /* background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%)); */
  background: rgb(22 22 22 / 75%);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 0.75vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.media,
.binding-mode,
.tiling-direction {
  margin-right: 20px;
}

.network,
.memory,
.cpu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    /* background: rgb(75 115 255 / 50%); */
    background: rgb(255 255 255 / 35%);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 5px;
  /* line-height: 1; */
  padding: 3px 7px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.paused-button {
  padding: 5px 8px;
  margin-right: 5px;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  display: flex;
  align-items: center;
}

.ph-fill {
  font-size: 1.35em;
}
